apiVersion: v1
kind: Secret
metadata:
  name: nexus-restore-secret
  namespace: nexus
  labels:
    app: nexus-restore
type: Opaque
data:
  .pcloud-config: |
    Q0x.........................................................................
    ............................................................................
    ............................................................................
    ............................................................................
    ...............................................................KCg==
  .private-decrypt.key: |
    LS0.........................................................................
    ............................................................................
    ............................................................................
    ............................................................................
    ............................................................................
    ............................................................................
    ............................................................................
    ............................................................................
    ............................................................................
    ............................................................................
    ............................................................................
    ............................................................................
    ............................................................................
    ............................................................................
    ............................................................................
    ...................................................KCg==
  encrypt-key.pub: |
    LS0tLS1CRUdJTiBQR1AgUFVCTElDIEtFWSBCTE9DSy0tLS0tCkNvbW1lbnQ6IEJlbnV0emVyLUlE
    OglQR1BDbG91ZEJhY2t1cCA8cGdwY2xvdWRiYWNrdXBAZmguYW5kZXJlbWFpbHMuZGU+CkNvbW1l
    bnQ6IEVyc3RlbGx0OgkyOS4xMi4yMDIyIDEzOjU4CkNvbW1lbnQ6IFR5cDoJMjU1LWJpdCBFZERT
    QSAoZ2VoZWltZXIgU2NobMO8c3NlbCB2ZXJmw7xnYmFyKQpDb21tZW50OiBWZXJ3ZW5kdW5nOglT
    aWduaWVyZW4sIFZlcnNjaGzDvHNzZWx1bmcsIEJlbnV0emVya2VubnVuZ2VuIGJlZ2xhdWJpZ2Vu
    CkNvbW1lbnQ6IEZpbmdlcmFiZHJ1Y2s6CTIxQzBDMjQxNjc0OUVBNjgwQ0EyN0E4NDNFNTE5NkVB
    NzE5RTJDRjMKCgptRE1FWTYyUEJSWUpLd1lCQkFIYVJ3OEJBUWRBeXhJZmpHc0o0ZTlIbTF0ZFVR
    VEF6Rzl2RzB6MXFKdGVzT0lMCkxPZGdvVlcwTVZCSFVFTnNiM1ZrUW1GamEzVndJRHh3WjNCamJH
    OTFaR0poWTJ0MWNFQm1hQzVoYm1SbGNtVnQKWVdsc2N5NWtaVDZJbEFRVEZnb0FQQlloQkNIQXdr
    Rm5TZXBvREtKNmhENVJsdXB4bml6ekJRSmpyWThGQWhzRApCUXNKQ0FjQ0F5SUNBUVlWQ2drSUN3
    SUVGZ0lEQVFJZUJ3SVhnQUFLQ1JBK1VaYnFjWjRzODlXY0FRQ0JoVk1qCklOQnYxMFpBRlBTaFJE
    K1VoUVJiRTZ2bWR6T1BxVTVueUtjd0VBRC9Ra2NFTE5VQXNRck9GRUxjN2xFNkh3WmwKQ2orNGxW
    aDFnR1hmdlpGL2xBdTRPQVJqclk4RkVnb3JCZ0VFQVpkVkFRVUJBUWRBNG5tSnNyeEV2SHhzbUtz
    QgpxaldUUnpIKzNsSndiVkhYSVl5djdpV3VVU01EQVFnSGlIZ0VHQllLQUNBV0lRUWh3TUpCWjBu
    cWFBeWllb1ErClVaYnFjWjRzOHdVQ1k2MlBCUUliREFBS0NSQStVWmJxY1o0czh3K1lBUHdMTER3
    QU1oNkFvZmg5cDk0dnBMem8KeGNDWFZOL1VSQUdCMFpmcEVKb3lwUUQvWFllSGVwcnJBTGQwWWtR
    Rm82RGpoSm1hZW9sbDN5MGNiQUtCY3liawp4d3M9Cj1ldWY2Ci0tLS0tRU5EIFBHUCBQVUJMSUMg
    S0VZIEJMT0NLLS0tLS0KCg==
  enc-passphrase: NUE................................................................................yOA==
